In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pd_df_profile = pd.read_csv('dataset/soc-pokec-profiles.txt', delimiter='\t')
pd_df_profile.columns = ['user_id','public','completion_percentage','gender','region','last_login','registration','AGE',\
               'body','I_am_working_in_field','spoken_languages','hobbies','I_most_enjoy_good_food','pets','body_type',\
               'my_eyesight','eye_color','hair_color','hair_type','completed_level_of_education','favourite_color',\
               ' relation_to_smoking','relation_to_alcohol','sign_in_zodiac','on_pokec_i_am_looking_for','love_is_for_me',\
               'relation_to_casual_sex','my_partner_should_be','marital_status','children','relation_to_children',\
               'I_like_movies','I_like_watching_movie','I_like_music','I_mostly_like_listening_to_music',\
               'the_idea_of_good_evening','I_like_specialties_from_kitchen','fun',' I_am_going_to_concerts',\
               'my_active_sports','my_passive_sports',' profession','I_like_books','life_style','music','cars','politics',\
               'relationships','art_culture','hobbies_interests','science_technologies','computers_internet',' education',\
               'sport','movies','travelling','health','companies_brands','is_vergin','is_white']

In [5]:
pd_df_relationship = pd.read_csv('dataset/soc-pokec-relationships.txt', delimiter='\t')
pd_df_relationship.columns = ['user_id','Friend_key']

# Competency Questions

### Question # 1:
#### Find the sum of all null values?

In [3]:
print(f"Following are the sum of total null values in each column in Data set")
pd_df_profile.isnull().sum()

Following are the sum of total null values in each column in Data set

user_id                                   0
public                                    0
completion_percentage                     0
gender                                  163
region                                  163
last_login                              163
registration                            163
AGE                                     163
body                                 838959
I_am_working_in_field               1051691
spoken_languages                     831112
hobbies                              828490
I_most_enjoy_good_food               936563
pets                                 932122
body_type                            886859
my_eyesight                          814890
eye_color                            732963
hair_color                           779960
hair_type                            861848
completed_level_of_education         886857
favourite_color                      804926
 relation_to_smoking                 786858
relation_to_alcohol                  805136
sign_in_zodiac                       790450
on_pokec_i_am_looking_for            853358
love_is_for_me                       894300
relation_to_casual_sex              1009507
my_partner_should_be                 909388
marital_status                       882422
children                            1157113
relation_to_children                1129063
I_like_movies                        840641
I_like_watching_movie                903297
I_like_music                         865698
I_mostly_like_listening_to_music     882999
the_idea_of_good_evening             914405
I_like_specialties_from_kitchen      910337
fun                                 1443427
 I_am_going_to_concerts             1085914
my_active_sports                     953797
my_passive_sports                    993704
 profession                         1158917
I_like_books                         966632
life_style                          1412982
music                               1462051
cars                                1583552
politics                            1605457
relationships                       1422256
art_culture                         1596870
hobbies_interests                   1498402
science_technologies                1601501
computers_internet                  1581150
 education                          1582986
sport                               1552921
movies                              1560892
travelling                          1597762
health                              1587497
companies_brands                    1610823
is_vergin                           1442214
is_white                            1632802
dtype: int64

### Question # 2:
#### Find the friend of specific user?

In [10]:
# let's say we wanna see the friend of 17 user_id
key = int(input("Please Enter a specific Id of User"))
friend_key = pd_df_relationship.Friend_key[pd_df_relationship.user_id == key]
friend_data = pd_df_profile[pd_df_profile.user_id.isin(friend_key)]
print(f"Following is the Friends of User ID {key}")
friend_data

Please Enter a specific Id of User17
Following is the Friends of User ID 17

,user_id,public,completion_percentage,gender,region,last_login,registration,AGE,body,I_am_working_in_field,...,science_technologies,computers_internet,education,sport,movies,travelling,health,companies_brands,is_vergin,is_white
18,10,1,64,0.0,"zilinsky kraj, cadca",2012-05-14 21:54:00.0,2005-10-07 00:00:00.0,22.0,170 cm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,261,1,59,1.0,"zilinsky kraj, zilina",2012-05-02 14:26:00.0,2007-07-05 00:00:00.0,25.0,"193 cm, 86 kg",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,436,1,64,0.0,"zilinsky kraj, zilina",2012-05-25 12:04:00.0,2000-10-02 00:00:00.0,27.0,"167 cm, 64 kg",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,437,1,66,1.0,"zilinsky kraj, martin",2012-05-24 20:54:00.0,2006-03-16 00:00:00.0,27.0,NaN,sluzieb a obchodu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,438,0,52,0.0,"zilinsky kraj, martin",2012-05-15 20:36:00.0,2007-05-29 00:00:00.0,28.0,NaN,zdravotnictva,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"<div> <a title=""vstup do klubu"" href=""/klub/pe...",NaN
378,439,0,14,1.0,"zilinsky kraj, cadca",2012-04-17 21:40:00.0,2006-11-28 00:00:00.0,27.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,440,0,28,0.0,"zilinsky kraj, zilina",2012-05-25 15:22:00.0,2004-01-04 00:00:00.0,28.0,"178 cm, 56 kg",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385,441,1,14,0.0,"zahranicie, zahranicie - gb",2012-03-05 09:39:00.0,2005-04-11 00:00:00.0,26.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,442,1,52,0.0,"zilinsky kraj, martin",2012-05-20 09:55:00.0,2006-11-04 00:00:00.0,22.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,443,1,72,1.0,"zilinsky kraj, martin",2012-05-22 12:39:00.0,2007-06-09 00:00:00.0,20.0,"172 cm, 65 kg",ekonomiky a financii,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,444,0,12,0.0,"zilinsky kraj, martin",2012-05-24 23:53:00.0,2006-02-11 00:00:00.0,27.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,445,1,48,0.0,"kosicky kraj, kosice - dargovskych hrdinov",2012-05-21 19:15:00.0,2003-12-12 00:00:00.0,27.0,174 cm,sluzieb a obchodu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415,446,1,12,1.0,"zilinsky kraj, ruzomberok",2012-05-21 17:51:00.0,2005-11-19 00:00:00.0,28.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
416,447,1,52,1.0,"kosicky kraj, gelnica",2012-04-04 21:39:00.0,2006-01-07 00:00:00.0,25.0,182 cm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
592,435,0,48,0.0,"zahranicie, zahranicie - ostatne",2012-05-24 19:53:00.0,2007-01-16 00:00:00.0,28.0,"165 cm, 58 kg",stavebnictva,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Question # 3:
#### Describe the Hadoop Environment and it's components?

### What is Hadoop Ecosystem ?

Hadoop ecosystem is a platform which helps in solving the big data problems using distributed storage and distributed computing on computer clusters, following diagram will give a brief understanding of Hadoop
<img src="https://www.edureka.co/blog/wp-content/uploads/2016/10/HADOOP-ECOSYSTEM-Edureka.png" />
## I will use Spark and why?
#### According to google :
<b> Spark has been found to run *100 times faster in-memory, and 10 times faster on disk*. <br>
    It's also been used to sort 100 TB of data 3 times faster than Hadoop MapReduce on one-tenth of the machines. <br>
    Spark has particularly been found to be faster on machine learning applications, such as Naive Bayes and k-means </b>
    
## What is Spark? 

#### Spark Core
Spark Core is the base engine for large-scale parallel and distributed data processing. The core is the distributed execution engine and the Java, Scala, and Python APIs offer a platform for distributed ETL application development. Further, additional libraries which are built atop the core allow diverse workloads for streaming, SQL, and machine learning. It is responsible for:
Memory management and fault recovery
Scheduling, distributing and monitoring jobs on a cluster
Interacting with storage systems

#### Spark Streaming
Spark Streaming is the component of Spark which is used to process real-time streaming data. Thus, it is a useful addition to the core Spark API. It enables high-throughput and fault-tolerant stream processing of live data streams. The fundamental stream unit is DStream which is basically a series of RDDs (Resilient Distributed Datasets) to process the real-time data

#### Spark SQL
Spark SQL is a new module in Spark which integrates relational processing with Spark’s functional programming API. It supports querying data either via SQL or via the Hive Query Language. For those of you familiar with RDBMS, Spark SQL will be an easy transition from your earlier tools where you can extend the boundaries of traditional relational data processing.

#### GraphX
GraphX is the Spark API for graphs and graph-parallel computation. Thus, it extends the Spark RDD with a Resilient Distributed Property Graph.

#### MLlib (Machine Learning)
MLlib stands for Machine Learning Library. Spark MLlib is used to perform machine learning in Apache Spark

### Question # 4	
#### Difference between Big Data and Large Data?
#### Answer:
##### Big Data: Big Data means, Data which is Terabytes and can not treat as normal data and can not handle on single machine which has infinte dimensions and velocity and 
##### Large Data: Large Data means, Data which is GB's and can handle on single machine

### Question # 5
#### Find out the users whose eye color is not black and they are males?

In [15]:
Users = pd_df_profile[(pd_df_profile.eye_color == 'zelene') & (pd_df_profile.gender == 1.0)]
print(f"Following are the males and their color of eyes are not black")
Users

Following are the males and their color of eyes are not black

,user_id,public,completion_percentage,gender,region,last_login,registration,AGE,body,I_am_working_in_field,...,science_technologies,computers_internet,education,sport,movies,travelling,health,companies_brands,is_vergin,is_white
2,3,0,38,1.0,"bratislavsky kraj, bratislava - karlova ves",2012-05-10 18:05:00.0,2010-05-23 00:00:00.0,29.0,NaN,"reklamy a medii, sluzieb a obchodu",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,33,0,69,1.0,"zilinsky kraj, kysucke nove mesto",2012-05-13 11:22:00.0,2008-01-02 00:00:00.0,22.0,"174 cm, 60 kg",strojarenstva a energetiky,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,12,1,67,1.0,"banskobystricky kraj, brezno",2012-04-30 16:24:00.0,2005-09-21 00:00:00.0,26.0,"185 cm, 94 kg, snazim sa na nej pracovat v pos...",studujem,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,41,1,69,1.0,"zilinsky kraj, zilina",2012-05-13 21:52:00.0,2008-03-04 00:00:00.0,16.0,"145 cm, 36 kg",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,44,0,19,1.0,"zilinsky kraj, kysucke nove mesto",2012-04-20 18:16:00.0,2007-10-29 00:00:00.0,0.0,"183 cm, 97 kg",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1632546,1632548,1,60,1.0,"banskobystricky kraj, zvolen",2011-11-23 16:10:00.0,2011-04-27 00:00:00.0,39.0,"182 cm, 105 kg, ruky na koncoch rozstrapkane, ...","pracujem s ludmi a pre ludi, aj ked to tak moz...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632637,1632639,1,60,1.0,"banskobystricky kraj, zvolen",2012-05-25 00:45:00.0,2010-07-23 00:00:00.0,38.0,"180 cm, 75 kg",sluzieb a obchodu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632647,1632649,1,66,1.0,"bratislavsky kraj, bratislava - nove mesto",2012-05-09 13:11:00.0,2005-10-13 00:00:00.0,29.0,"186 cm, 86 kg, atleticka",zahradnictva,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632706,1632708,1,26,1.0,"nitriansky kraj, nitra",2012-05-24 21:14:00.0,2009-10-27 00:00:00.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632744,1632746,0,64,1.0,"trenciansky kraj, trencin",2012-05-27 00:12:00.0,2008-05-22 00:00:00.0,36.0,"180 cm, 90 kg, nie som shrek ani nejaka vychrt...",verejnej spravy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Question # 6
#### Recommend me friends?

In [16]:
id_ = int(input("Please Enter Your ID i.e 8"))
my_friends_keys = pd_df_relationship.Friend_key[pd_df_relationship.user_id == id_]
my_friends_of_friends_keys = pd_df_relationship.Friend_key[pd_df_relationship.user_id.isin(my_friends_keys)]
suggestion_friends = pd_df_profile[pd_df_profile.user_id.isin(my_friends_of_friends_keys)]
print(f"Following are suggestion of friends for you")
suggestion_friends

Please Enter Your ID i.e 88
Following are suggestion of friends for you

,user_id,public,completion_percentage,gender,region,last_login,registration,AGE,body,I_am_working_in_field,...,science_technologies,computers_internet,education,sport,movies,travelling,health,companies_brands,is_vergin,is_white
1,16,1,64,1.0,"zilinsky kraj, kysucke nove mesto",2012-05-25 23:19:40.0,2008-05-18 00:00:00.0,23.0,"173 cm, 70 kg",najvatcsej firme na svete urad prace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,0,38,1.0,"bratislavsky kraj, bratislava - karlova ves",2012-05-10 18:05:00.0,2010-05-23 00:00:00.0,29.0,NaN,"reklamy a medii, sluzieb a obchodu",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,12,0.0,"banskobystricky kraj, brezno",2011-12-29 12:25:00.0,2011-12-29 00:00:00.0,26.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,1,66,1.0,"zilinsky kraj, zilina",2012-05-25 01:10:00.0,2006-05-29 00:00:00.0,26.0,NaN,som nezamestnany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,6,0,22,0.0,"zilinsky kraj, zilina",2012-05-25 20:40:00.0,2007-12-15 00:00:00.0,38.0,"160 cm, 57 kg",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1077748,1077745,1,74,0.0,"zilinsky kraj, martin",2012-05-24 20:55:00.0,2008-01-29 00:00:00.0,45.0,"156 cm, 77 kg",sluzieb a obchodu,...,NaN,NaN,NaN,NaN,NaN,NaN,"<div> <a title=""vstup do klubu"" href=""/klub/ho...",NaN,"<div> <a title=""vstup do klubu"" href=""/klub/mo...",NaN
1129614,1129697,0,12,0.0,"zilinsky kraj, martin",2012-05-24 10:22:00.0,2008-04-12 00:00:00.0,34.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1182523,1182562,0,24,1.0,"zahranicie, zahranicie - ostatne",2012-05-24 16:07:00.0,2008-01-21 00:00:00.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1256690,1256695,0,12,1.0,"trenciansky kraj, ilava",2012-02-09 17:48:00.0,2007-06-13 00:00:00.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1358578,1358515,1,47,0.0,"trenciansky kraj, ilava",2012-05-25 14:26:00.0,2007-08-01 00:00:00.0,25.0,NaN,stavebnictva,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Question no 7
#### Find out the private users?

In [17]:
private_users = pd_df_profile[pd_df_profile.public == 0.0]
print(f"Following are the private Users")
private_users

Following are the private Users

,user_id,public,completion_percentage,gender,region,last_login,registration,AGE,body,I_am_working_in_field,...,science_technologies,computers_internet,education,sport,movies,travelling,health,companies_brands,is_vergin,is_white
2,3,0,38,1.0,"bratislavsky kraj, bratislava - karlova ves",2012-05-10 18:05:00.0,2010-05-23 00:00:00.0,29.0,NaN,"reklamy a medii, sluzieb a obchodu",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,6,0,22,0.0,"zilinsky kraj, zilina",2012-05-25 20:40:00.0,2007-12-15 00:00:00.0,38.0,"160 cm, 57 kg",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,20,0,12,0.0,"zilinsky kraj, kysucke nove mesto",2012-05-22 12:59:00.0,2008-07-27 00:00:00.0,20.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,8,0,12,1.0,"trenciansky kraj, ilava",2012-04-15 11:52:00.0,2003-11-26 00:00:00.0,26.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,33,0,69,1.0,"zilinsky kraj, kysucke nove mesto",2012-05-13 11:22:00.0,2008-01-02 00:00:00.0,22.0,"174 cm, 60 kg",strojarenstva a energetiky,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1632787,1632789,0,12,0.0,"trenciansky kraj, banovce nad bebravou",2012-05-23 23:05:00.0,2006-12-04 00:00:00.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632788,1632790,0,31,0.0,"bratislavsky kraj, bratislava - stare mesto",2012-05-09 13:45:00.0,2011-04-28 00:00:00.0,0.0,"postava,posedava,a vselico ine dokaze",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632791,1632793,0,12,1.0,"ceska republika, cz - praha",2012-05-11 09:16:00.0,2000-11-02 00:00:00.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632794,1632796,0,28,1.0,"zahranicie, zahranicie - ostatne",2012-05-26 09:36:00.0,2012-05-10 00:00:00.0,0.0,"172 cm, 74 kg",vypoctovej techniky,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632801,1632803,0,12,0.0,"kosicky kraj, kosice - ostatne",2012-05-27 01:34:00.0,2012-04-21 00:00:00.0,44.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Question # 8
#### Show the Stats of above 30 years old

In [19]:
print("Following is the Statistics of Above 30 Years Old Persons")
pd_df_profile[pd_df_profile.AGE > 30.0].describe()

Following is the Statistics of Above 30 Years Old Persons

,user_id,public,completion_percentage,gender,AGE,is_white
count,2.397860e+05,239786.000000,239786.000000,239786.000000,239786.000000,0.0
mean,1.115750e+06,0.638432,35.351518,0.549227,38.896349,NaN
std,4.123414e+05,0.480456,22.696390,0.497572,9.344390,NaN
min,6.000000e+00,0.000000,12.000000,0.000000,31.000000,NaN
25%,8.591082e+05,0.000000,12.000000,0.000000,33.000000,NaN
50%,1.212435e+06,1.000000,31.000000,1.000000,36.000000,NaN
75%,1.460304e+06,1.000000,59.000000,1.000000,42.000000,NaN
max,1.632803e+06,1.000000,98.000000,1.000000,112.000000,NaN